* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --success-color: #198754;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #0dcaf0;
  --light-color: #f8f9fa;
  --dark-color: #212529;

  --body-font: "Poppins", sans-serif;
  --heading-font: "Roboto", sans-serif;

  --bg-color: #f6fbfa;
  --text-color: #333;

  --bg-teal-green: #4adcb7;
  --text-teal-green: #4adcb7;

  --bg-dark-blue: #030739;
  --text-dark-blue: #030739;

  --bg-indigo: #0b115d;
  --text-indigo: #0b115d;

  --bg-light-blue: #204eba;
  --text-light-blue: #204eba;
}

#container1{
    background-color:var(--bg-indigo) ;
        border-radius: 10px 0 0 10px;
    height: 670px;
    margin: 0 auto;
    min-height: 670px;
    padding: 60px 70px;
    /* width: 100%; */
}

#innerContainer1:first-child{
    /* border-top: 2px solid ; */
    /* border-radius: 2px; */
    /* padding: 10px; */
    margin-bottom: 0.5rem;
    width: 100%;
    max-height:2px;
    height: 2px;

}

#innerContainer1 .dynamicContent{
     /* border-top: 2px solid ; */
    /* border-radius: 2px; */
    color: #f0f0f0;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
}

#innerContainer1 .progressBar{
     background-color: #f0f0f0;
    border-radius: 2px;
    height: 2px;
    margin-bottom: .5rem;
    max-height: 2px;
}
